$menu-list-width: 300px !default;

.menu-item {
  &__list {
    display: block;
    max-height: 0;
    background: $smoke;
    overflow: hidden;
    transition: 0.5s max-height ease-in-out;
  }

  &__toggle {
    position: absolute;
    right: 0;
    top: 0;
    width: $menu-item-height;
    text-align: center;
    cursor: pointer;
    font-size: 1rem;
  }

  &__link {
    height: $menu-item-height;
    line-height: $menu-item-height;
    border-bottom: 1px solid #ccc;
    padding: 0 1rem;
    position: relative;

    a,
    a:hover,
    a:visited {
      height: $menu-item-height;
      line-height: $menu-item-height;
      color: black;
    }

    &.is-active {

      a {
        font-weight: bold;
      }

      + .menu-item__list {
        max-height: 100vh;
      } 
    }
  }
}

@include tablet {
  .menu-item {

    &__list {
      display: none;
      max-height: none;
    }

    &__toggle {
      display: none;
    }

    &__link {
      border-bottom: none;
      height: $navigation-height;
      line-height: $navigation-height;

      a,
      a:visited {
        color: hsla(0,0%,100%,.8);
        font-weight: 500;
      }

      a:hover {
        color: $white;
      }
    }

    &:hover &__list {
      display: block;
      position: absolute;
      background-color: lighten($color: $primary, $amount: 10%);
      min-width: $menu-list-width;
    }

    &:hover > &__link a {
      color: $white;
    }
  }
}