$navigation-height: 3rem !default;
$menu-item-height: 2.5rem !default;

.navigation {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: fixed;

  &__content {
    width: 100%;
    height: calc(100vh - #{$navigation-height});
    transform: translateX(0);
    overflow-y: scroll;
    background-color: white;
  }

  &.is-collapsed {
    height: $navigation-height;
    .navigation__content {
      transform: translateX(100%);
      transition: transform 0.1s ease-in-out;
    }
  }

  &__header {
    height: $navigation-height;
    background-color: $primary;
  }

  .toggle {
    position: relative;
    float: right;
    display: flex;
    height: 3rem;
    padding: 14px 10px 10px 10px;
    &.is-active {
      background-color: darken($color: $primary, $amount: 10%)
    }
  }
}

@include tablet {
  .navigation {
    overflow: visible;
    &__header {
      display: none;
    }

    .navigation__content,
    &.is-collapsed .navigation__content {
      transform: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: auto;
      background-color: $primary;
    }
  }
}
  