// Update Bulma's global variables
$family-sans-serif: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;

// Update some of Bulma's component variables
$body-background-color: #FFF;
$text: black;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$radius: 0;