// Update Bulma's global variables
$family-sans-serif: 'IBM Plex Sans Condensed', 'Helvetica Neue', Arial, sans-serif;
$font-prefix: '~node_modules/@ibm/plex/';

// Update some of Bulma's component variables
$body-background-color: #FFF;
$text                 : black;
$control-border-width : 2px;
$input-border-color   : transparent;
$input-shadow         : none;
$radius               : 0;
$primary              : #2e8555;

// Hamburgers menu
$hamburger-layer-color  : #FFF;
$hamburger-padding-x    : 10px;
$hamburger-padding-y    : 10px;
$hamburger-layer-width  : 30px;
$hamburger-layer-height : 3px;
$hamburger-hover-opacity: 1;
$hamburger-layer-spacing: 7px;